services:
  web:
    build: ./Dockerfile
    ports:
      - "80:3000"
    container_name: n2i-2025
    depends_on:
      - db

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    env_file: "db.env"
