services:
  web:
    build: .
    ports:
      - "80:80"
    depends_on:
      - db
    profiles:
      - production

  db:
    image: postgres
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    env_file: "db.env"
    volumes:
      - ./db/schema.sql:/docker-entrypoint-initdb.d/schema.sql
      - n2i_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  n2i_data:
