@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  --color-background: var(--color-background);
  --color-text: var(--color-text);

  --color-icon-brand: #a65fec;
  --color-stroke-brand-weak: #a65fec14;
  --color-background-overlay: #292b33;
  --color-stroke-width-weak: #292b33;
  --color-background-base: #12131a;
  --color-background-raised: #1d1e26;
  --color-icon-success: #77c7af50;
  --color-stroke-success-strong: #77c7af50;
  --color-fill-success-weak: #77c7af08;
  --color-stroke-strong: #ffffff3c;
  --color-icon-neutral: #ffffff3c;
  --color-fill-weak: #ffffff06;
  --color-stroke-selected: #a65fec;
  --color-brand-1000: #a65fec;
  --color-brand-weak: #a65fec05;
  --color-fill-yellow: #fec62e;
  --color-stroke-error-strong: #ff9c9c50;
  --color-icon-error: #ff9c9c50 --color-fill-error-weak: #ff9c9c08;
  --color-fill-press: #ffffff0c;
}

@layer base {
  /* Theme Variations */
  .theme-blue {
    --color-primary: #3b82f6;
    --color-secondary: #1e40af;
    --color-accent: #e0f2fe;
    --color-background: #eff6ff;
    --color-text: #1e293b;
  }

  .theme-green {
    --color-primary: #22c55e;
    --color-secondary: #166534;
    --color-accent: #bbf7d0;
    --color-background: #f0fdf4;
    --color-text: #14532d;
  }

  .theme-red {
    --color-primary: #ef4444;
    --color-secondary: #7f1d1d;
    --color-accent: #fecaca;
    --color-background: #fef2f2;
    --color-text: #7f1d1d;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
